

body {

    
    font-family: '911 Porscha', sans-serif; 
    margin: 0; 
    padding: 0; /* Remove default body padding */
}
.background-container {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4635bcd4-4a1d-4e83-bbe4-9edf40e125d0/dbt1iuc-dea83e16-c77f-4f43-9f0d-4d958173b50f.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzQ2MzViY2Q0LTRhMWQtNGU4My1iYmU0LTllZGY0MGUxMjVkMFwvZGJ0MWl1Yy1kZWE4M2UxNi1jNzdmLTRmNDMtOWYwZC00ZDk1ODE3M2I1MGYuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.x4CkCFgIlPPp83RIyX0bxgT1A-F0eQpF8-KE0YY0RZY');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 100vh; /* Ensure the container covers the full viewport height */
    position: relative; /* Add position relative to allow absolute positioning */
}

.logo-container {
    
    position: absolute;
    top: 3px; /* Adjust top position */
    left: 20px; /* Adjust left position */
}
.sign-in-container {
    position: absolute;
    bottom: 20px; /* Adjust bottom position */
    right: 20px; /* Adjust right position */
}

.custom-signin-btn {
    background-color: rgba(128, 0, 0, 0.9); /* Reddish color with 50% opacity */
    color: black; /* Text color */
    border-color: transparent; /* Remove border color */
}

.custom-signin-btn:hover {
    background-color: rgba(128, 0, 0, 0.8); /* Darken the background color on hover */
}

.custom-signin-btn:focus,
.custom-signin-btn:active {
    background-color: rgba(128, 0, 0, 0.5); /* Maintain the background color on click */
    outline: none; /* Remove the default focus outline */
}
.experience-container {
    position: absolute;
    top: 40%; /* Adjust top position */
    left: 20px; /* Adjust left position */
    color: red;
}
.experience-container h1 {
    margin-bottom: 0; 
    color: black;
}
.experience-container h2 {
    margin-top: 0; 
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-brand {
    margin-right: auto; /* Push the logo to the left */
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
}








.porsche-text {
    font-family: '911 Porscha', sans-serif;
}
