

*,
::after,
::before {
    box-sizing: border-box;
}


body {
    font-family: '911 Porscha', sans-serif;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4635bcd4-4a1d-4e83-bbe4-9edf40e125d0/dbt1iuc-dea83e16-c77f-4f43-9f0d-4d958173b50f.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzQ2MzViY2Q0LTRhMWQtNGU4My1iYmU0LTllZGY0MGUxMjVkMFwvZGJ0MWl1Yy1kZWE4M2UxNi1jNzdmLTRmNDMtOWYwZC00ZDk1ODE3M2I1MGYuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.x4CkCFgIlPPp83RIyX0bxgT1A-F0eQpF8-KE0YY0RZY');
    
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

h3 {
    font-family: '911 Porscha', sans-serif;
    font-size: 1.2375rem;
    color: #ec0707;
}

a {
    font-family: '911 Porscha', sans-serif;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

/* Layout skeleton */

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    box-shadow: 0 0 35px 0 rgba(49, 57, 66, 0.5);
    z-index: 1111;
}

/* Sidebar collapse */

#sidebar.collapsed {
    margin-left: -264px;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
}

.sidebar-logo {
    padding: 1.15rem 1.5rem;
}

.sidebar-logo a {
    color: #e9ecef;
    font-size: 1.25rem;
    font-weight: 600;
}

.sidebar-nav {
    padding: 0;
}

.sidebar-header {
    color: #e9ecef;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}
.sidebar-link {
    font-family: '911 Porscha', sans-serif;
    padding: .625rem 1.625rem;
    color: black;
    position: relative;
    display: block;
    font-size: 1rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

/* Responsive */

@media (min-width:768px) {
    .content {
        width: auto;
    }
}

.sign-in-container {
    background-image: url('https://th.bing.com/th/id/R.b4c1d1e8b303191cca43edfcd88a1e7c?rik=qFkt7AOl4rKEmQ&pid=ImgRaw&r=0'); /* Corrected image URL */
    padding-left: 20px;
    position: absolute;
    bottom: 20px; /* Adjust bottom position */
    right: 20px; /* Adjust right position */
}

.custom-signin-btn {
    background-color: rgba(128, 0, 0, 0.9); /* Reddish color with 50% opacity */
    color: black; /* Text color */
    border-color: transparent; /* Remove border color */
}

.custom-signin-btn:hover {
    background-color: rgba(128, 0, 0, 0.8); /* Darken the background color on hover */
}

.custom-signin-btn:focus,
.custom-signin-btn:active {
    background-color: rgba(128, 0, 0, 0.5); /* Maintain the background color on click */
    outline: none; /* Remove the default focus outline */
}

.experience-container {
    position: absolute;
    top: 40%; /* Adjust top position */
    left: 20px; /* Adjust left position */
    color: red;
}
.experience-container h1 {
    
    margin-bottom: 0;
    color: black;
}
.experience-container h2 {
    margin-top: 0; 
}

#porsche-text {
    position: fixed;
    margin-left: 50%;
    transform: translateX(-50%);
    z-index: 9999; /* Ensure the text is on top of other elements */
    color: #000000;
    font-family: '911 Porscha', sans-serif;
    font-size: 40px;
    margin-top: 0% ;
    
}
#Home-text {
    position: fixed;
    margin-left: 95%;
    transform: translateX(-50%);
    z-index: 9999; /* Ensure the text is on top of other elements */
            
    font-family: '911 Porscha', sans-serif;
    
}

/* Responsive Styles */
@media (max-width: 768px) {

    body {
        font-family: '911 Porscha', sans-serif;
        background-image: url('https://www.driving.co.uk/wp-content/uploads/sites/5/2016/03/817880_75007por-a.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; /* Ensure the background image covers the entire viewport */
    }
    

    .wrapper {
        flex-direction: column;
    }
    #sidebar {
        position: fixed;
        width: 100%;
        max-width: 100%;
        min-width: 0;
        margin-left: -100%;
        transition: margin-left 0.3s ease;
    }
    .main {
        margin-left: 0;
    }
    .sign-in-container {
        position: relative;
        bottom: auto;
        right: auto;
        text-align: center;
        margin-top: 20px;
    }
    .experience-container {
        position: relative;
        top: auto;
        left: auto;
        text-align: center;
        margin-top: 20px;
    }
    #porsche-text {
        position: relative;
        margin-left: 20%;
        transform: translateX(0);
        text-align: center;
    }

    #Home-text{
        position: relative;
        margin-left: 5%;
        transform: translateX(0);
        text-align: center;
    }
}

