body {

    
    font-family: '911 Porscha', sans-serif;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4635bcd4-4a1d-4e83-bbe4-9edf40e125d0/dbt1iuc-dea83e16-c77f-4f43-9f0d-4d958173b50f.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzQ2MzViY2Q0LTRhMWQtNGU4My1iYmU0LTllZGY0MGUxMjVkMFwvZGJ0MWl1Yy1kZWE4M2UxNi1jNzdmLTRmNDMtOWYwZC00ZDk1ODE3M2I1MGYuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.x4CkCFgIlPPp83RIyX0bxgT1A-F0eQpF8-KE0YY0RZY');
    margin: 0;
    padding: 0; /* Remove default body padding */
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh; /* Ensure the container covers the full viewport height */
    z-index: 4;
}

.control-panel {
    position: fixed;
    top: 0;
    left: 0;
    background-color:transparent;
    border-radius: 10px;
}

.panel-content {
    display: none;
}


.logo-container {
    background-image: url('phttps://th.bing.com/th/id/R.b4c1d1e8b303191cca43edfcd88a1e7c?rik=qFkt7AOl4rKEmQ&pid=ImgRaw&r=0'); /* Specify the path to your image */
    
    top: 3px; /* Adjust top position */
    left: 20px; /* Adjust left position */
    width: 80%; /* Set the width to 80% of its parent container */
    height: 300px;
}
.sign-in-container {
    background-image: url('https://th.bing.com/th/id/R.b4c1d1e8b303191cca43edfcd88a1e7c?rik=qFkt7AOl4rKEmQ&pid=ImgRaw&r=0'); /* Corrected image URL */
    padding-left: 20px;
    position: absolute;
    bottom: 20px; /* Adjust bottom position */
    right: 20px; /* Adjust right position */
}


.custom-signin-btn {
    background-color: rgba(128, 0, 0, 0.9); /* Reddish color with 50% opacity */
    color: black; /* Text color */
    border-color: transparent; /* Remove border color */
}

.custom-signin-btn:hover {
    background-color: rgba(128, 0, 0, 0.8); /* Darken the background color on hover */
}

.custom-signin-btn:focus,
.custom-signin-btn:active {
    background-color: rgba(128, 0, 0, 0.5); /* Maintain the background color on click */
    outline: none; /* Remove the default focus outline */
}
.experience-container {
    position: absolute;
    top: 40%; /* Adjust top position */
    left: 20px; /* Adjust left position */
    color: red;
}
.experience-container h1 {
    margin-bottom: 0; 
    color: black;
}
.experience-container h2 {
    margin-top: 0; 
}

.porsche-text {
    font-family: '911 Porscha', sans-serif;
    margin: 0 auto;
}
