<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admins</title>
    
</head>
<body>
    <h1>OMGGG IT'S WORKINGGGG!!!!!!!!!!</h1>
    <h2> YOU SHOULD FEEL SPECIAL ONLY ADMINS CAN GET HERE </h2>
    <h3> PLEASE GIVE US THE FULL GARDE</h3>
</body>
</html>