html, body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header, .App-main {
  padding: 20px;
}

.App-main {
  flex: 1; /* This makes the main content take up all available space */
}
